html, body {
    @include bg-color;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: center;
    // padding: 30px 0;
    color: white;
    a {
        text-decoration: none;
        color: $accent;
    }

}