.footer {
    @include nav-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 55px;
    padding-right: 15px;
    height: 40px;
    // background-color: #515151;
    // color: #3d3d3d;
    p {
        padding-right: 15px;

    }
    a {
        color: white;
        padding-left: 15px;
        border-left: 2px solid $accent;
    }
}