.footer {
    @include nav-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 55px;
    padding-right: 15px;
    height: 40px;
    p {
        padding-right: 15px;

    }
    .contact-button {
        color: white;
        padding-left: 15px;
        border-left: 2px solid $accent-alt;


        &:hover {
            cursor: pointer;
            color: $accent;
            transition: .3s;
        }


    }
}