.loading{
    display: flex;
    justify-content: center;

    .loading-progress-container {
        position: fixed;
        top: 40%;
        align-items: center;
        width:30%;
        background-color: none;
        border-radius: 5px;
        border: 5px solid $accent;
        @include drop-shadow;
        
        .loading-progress-fill {
            border-radius: 5px;
            outline: 1px solid $accent;
            padding: 5px;
            text-align: center;
            font-size: 2.5rem;
            background-color: $accent;
            color: white;
        }
    }
}