.loading{
    display: flex;
    justify-content: center;

    .loading-progress-container {
        position: fixed;
        top: 50%;
        align-items: center;
        width:75%;
        background-color: none;
        border: 3px solid $accent;
        border-radius: 8px;
        @include drop-shadow;
        
        .loading-progress-fill {
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            font-size: 5rem;
            background-color: $accent;
            color: white;
        }
    }
}