@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');

$accent: #a374ff;
// $accent-alt: rgb(208, 89, 158);
$title: rgb(69 2 138);
$accent-alt: rgba(216, 28, 101, 75%);

@import "./mixins.scss";

@import "./common.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./schedule.scss";
@import "./showsGrid.scss";
@import "./loadingBar.scss";
@import "./ratings.scss";
@import "./showpage.scss";
@import "./filter.scss";
@import "./home.scss";
@import "./about.scss";
@import "./reviews.scss";
@import "./contactModal.scss";
@import "./mediaQueries.scss";