@mixin repeating-list {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 15px;
    padding: 15px;
    width: 90%;
}

@mixin bg-color {
    background: linear-gradient(299deg, rgba(45,0,105,1) 0%, rgba(255,76,217,1) 50%, rgba(255,167,53,1) 100%);
    background-attachment: fixed;
}

@mixin drop-shadow {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.42));
}

@mixin nav-color {
    background: rgb(31,0,13);
    background: linear-gradient(299deg, rgba(13,0,31,0.7763306005996149) 0%, rgba(194,74,0,0.4962185557816877) 100%);
    color: white;
    
}