.navbar {
    @include nav-color;
    @include drop-shadow;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    z-index: 10;
    // background-color: #515151;

    
    a {
        color: white;
        font-weight: bold;
        padding: 15px;

        &:hover {
            transition: .3s;
            background-color: $accent-alt;
        }
    }

    
    .active-link {
        color: $accent;
    }
    
}
