.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #515151;
    
    a {
        color: white;
        font-weight: bold;
        padding: 15px;
    }

    
    .active-link {
        color: #515151;
        background-color: white;
    }
    
}
