.schedule{
    scrollbar-width: 3px;
    scrollbar-color: $accent $accent-alt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    *::-webkit-scrollbar {
        width: 3px;
    }

    *::-webkit-scrollbar-track {
        background: $accent-alt;
    }

    *::-webkit-scrollbar-thumb {
        background-color: $accent;
        border-radius: 5px;
        border: 1px solid $accent-alt;
    }
    .network-wrapper {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        .network-name {
            color: $title;
            padding: 10px;
            width: 150px;
        }
        .shows-wrapper {
            display:flex;
            height: 100%;
            width: 100%;
            overflow: scroll;
            @include nav-color;
            .episode-wrapper{
                border-right: 1px $accent solid;
                min-width: fit-content;
                height: 100%;
                padding: 10px;
                
            }
        }
    }

}