.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 50px 0;
    height: 100%;
    .network-wrapper {
        display:flex;
        // border: solid black 2px;
        justify-content: center;
        align-items: center;
        // overflow:scroll;
        width: 90%;
        // height: 125px;

        .network-name {
            padding: 10px;
            width: 150px;
        }
        .shows-wrapper {
            display:flex;
            height: 100%;
            width: 100%;
            overflow: scroll;
            .episode-wrapper{
                border: black solid 1px;
                min-width: fit-content;
                height: 100%;
                padding: 10px;
                
            }
        }
    }

}