.shows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;

    .shows-grid{
        @include repeating-list;
        position: relative;

        .show-wrapper{
            @include drop-shadow;
            width: 100%;
            height: 100%;
            position: relative;
            &:hover{

                cursor: pointer;
                .title-wrapper{
                    display: flex;
                    text-align: center;
                    color:white;
                }

                
                .image-wrapper{
                    transition: .3s;
                    filter:blur(3px) contrast(80%) brightness(50%) grayscale(60%) ;
                
                    
                }
            }
            .title-wrapper{
                transition: .3s;
                user-select: none;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 80%;
                height: 100%;
                bottom: 100%;
                left: 10%;
                margin-bottom: -100%;
                font-size: 1.5rem;
                display: none;
                text-align: center;
                flex-direction: column;
                
                
            }

        }
        
        
        

        }
    }

